* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HarmonyOS_Sans_SC_Regular,-apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;;
    /* 其他样式属性重置 */
}

/* 修改滚动条的宽度 */
::-webkit-scrollbar {
    width: 6px; /* 修改滚动条宽度（适用于Chrome和Safari） */
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #00BCD4 0%, #ff8cac 60%, #ffe503 90%);
    border-radius: 999px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f0f0f000; /* 修改滚动条轨道的颜色 */
  }

.detailContainer{
    display: block;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f9f9f9;
}
.block{
    height: 60px;
}

.articlePage{
    width: 98%;
    max-width: 700px;
    margin: auto;
    height: auto;
    background-color: #fff;
    box-shadow: #b3b3b39f 0 0 8px;
    padding: 24px;
    border-radius: 10px;
}

#articleTitle{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    word-break: break-all;
}
.articleMsg{
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    background-color: #becde029;
    border-radius: 4px;
}
.articleTime, .articleClassify,.articleRead{
    margin-right: 10px;
    display: flex;
    height: 100%;
}
.articleTimeIcon{
    width: 30px;
    height: 30px;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/time.png?inline=false');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
}
.articleTimeText{
    line-height: 30px;
    font-size: 12px;
    color: #7b8691;
}
.articleReadIcon{
    width: 30px;
    height: 30px;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E8%A7%82%E7%9C%8B.png?inline=false');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
}
.articleReadText{
    line-height: 30px;
    font-size: 12px;
    color: #7b8691;
}
.articleClassifyIcon{
    width: 30px;
    height: 30px;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/star.png?inline=false');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
}
.articleClassifyText{
    line-height: 30px;
    font-size: 12px;
    color: #7b8691;
}

.articlePTitle{
    display: flex;
    height: 32px;
    align-items: center;
    font-size: large;
    font-weight: 600;
    color: #fa5e8b;
    letter-spacing: 2px;
    padding-left: 6px;
    margin-top: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.articlePTitle::before{
    content: '';
    width: 8px;
    height: 20px;
    background-color: #fa5e8b;
    margin-right: 10px;
    display: inline-block;
    outline: 0!important;
}
.articlePTitle:hover{
    transform: translateX(20px);
}
.articlePTitle:hover::before{
    box-shadow: #ffb7cb -7px 0 0px;
}
.articleP{
    margin: 16px auto;
    line-height: 30px;
}

.articleImg{
    display: block;
    margin: 5px auto;
    width: 100%;
    max-width: 1000px;
    border-radius: 6px;
    height: auto;
    transition: all 0.3s;
}
.articleImg:hover{
    box-shadow: #c8365f 0 0 10px;
    transform: scale(0.99);
}
.articleP .articleImg{
    width: 100%;
}

.articleimg{
    display: block;
    width: 90%;
    max-width: 600px;
    height: auto;
    transition: all 0.3s;
}
.articleimg:hover{
    box-shadow: #c8365f 0 0 10px;
    transform: scale(0.99);
}

.img_load{
    width: 100%;
    height: 50px;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/load.gif?inline=false') center no-repeat;
    background-size: contain;
}


.downLoadArea{
    width: 90%;
    margin: 20px auto;
    border: #fc4c7e dashed 2px;
    border-radius: 20px;
}
.downLoadArea:hover{
    border-style: solid;
}
.downLoadArea:hover .downLoadTitle{
    border: #e66388 solid 2px;
}
.downLoadTitle{
    display: inline-block;
    padding: 0 10px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 20px;
    width: auto;
    height: auto;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #e9386a;
    background-color: #fff;
}
.downLoadText{
    padding: 0 30px;
    font-size: 12px;
    color: #e9386a;
}
.downLoadBtn{
    display: inline-block;
    padding: 8px 30px;
    background-color: #fa5e8b;
    color: #fff;
    border-radius: 30px;
    margin: 20px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    text-decoration: none;
}
.downLoadBtn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #f1789ae1;
}

.downLoadBody2{
    width: 90%;
    margin: auto;
    display: flex;
}
.downLoad2Left{
    flex: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downLoad2Text{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 4px;
    color: #e9386a;
}
.downLoad2Key{
    font-weight: 600;
    margin-top: 4px;
    letter-spacing: 4px;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #ff6021;
    background: #cdf2d6;
    border-radius: 6px;
}
.downLoad2Right{
    width: 50%;
    padding: 30px;
    max-width: 300px;
    height: auto;
}
.downLoad2Img{
    min-width: 50px;
    width: 100%;
    height: auto;
}
.gotoDown{
    position: absolute;
    right: 50px;
    top: 50%;
    font-size: 12px;
    color: #fa5e8b;
    border:#c8365f solid 1px;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 0.3s;
}
.gotoDown:hover{
    background-color: #fa5e8b;
    border:#fa5e8b solid 1px;
    color: #fff;
}

.articleLink{
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
}
.lastArticle{
    width: 50%;
    height: auto;
    border-right: #9c9c9c dashed 1px;
}
.nextArticle{
    width: 50%;
    height: auto;
}
.lastArticleTitle{
    font-size: 12px;
    color: #444;
    margin-bottom: 5px;
}
.nextArticleTitle{
    font-size: 12px;
    color: #444;
    margin-bottom: 5px;
    text-align: right;
}
.lastArticleLink{
    font-size: 14px;
    line-height: 22px;
    max-height: 44px;
    overflow: hidden;
    display: inline-block;
    padding-right: 20px;
}
.nextArticleLink{
    font-size: 14px;
    width: 100%;
    line-height: 22px;
    max-height: 44px;
    overflow: hidden;
    display: inline-block;
    padding-left: 20px;
    text-align: right;
}
a {
    color: #c8365f; /* 设置链接文本颜色 */
    text-decoration: none; /* 去除下划线 */
}
a:hover {
    color: rgba(255, 72, 72, 0.918); /* 设置链接文本颜色 */
    text-decoration: underline; /* 添加下划线 */
}
a:active {
    color: #c8365f; /* 设置链接文本颜色 */
    text-decoration: none; /* 去除下划线 */
}

.articleTags{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
}
.articleTag{
    padding: 4px 8px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.articleTag1{
    background-color: #ff5e5c;
}
.articleTag2{
    background-color: #ffbb50;
}
.articleTag3{
    background-color: #1ac756;
}
.articleTag4{
    background-color: #19b5fe;
}
.articleTag:hover{
    opacity: 0.8;
}

.relative{
    text-align: center;
    margin: 20px 0;
    color: #c8365f;
    font-size: 18px;
    user-select: none;
}
.relative::before{
    content: '❤ ';
}
.relationalCards{
    width: 100vw;
    max-width: 700px;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    width: 47vw;
    max-width: 329px;
    height: 32vw;
    max-height: 224px;
    border-radius: 10px;
    box-shadow: #a7a7a7aa 0 0 6px;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}
.card:hover{
    transform: translateY(-4px);
    box-shadow: #ff92b1 0 0 8px;
}
.cardCover{
    width: 47vw;
    max-width: 329px;
    height: 32vw;
    max-height: 224px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cardMask{
    width: 47vw;
    max-width: 329px;
    height: 32vw;
    max-height: 224px;
    position: absolute;
    left: 0;
    top: 0;
    background:linear-gradient(to bottom, #36363600 50%,#121212a9);
}
.cardMsg{
    width: 100%;
    height: auto;
    max-height: 32px;
    overflow: hidden;
    position: absolute;
    bottom: 16px;
    line-height: 16px;
    font-size: 13px;
    padding: 0 16px;
    color: #ffffff;
}

.noticeImport{
    margin: 30px auto;
    padding: 20px;
    color: #ff6021d1;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 26px;
    border-radius: 4px;
    font-weight: 600;
    background-color: #ffe4e973;
}

.feedback{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-top: 6px;
}
.feedbackLink{
    color: #6f53ea;
    text-decoration: underline;
}
.feedbackLink::before{
    content: '★ ';
}
.feedbackLink::after{
    content: ' ★';
}
.description{
    font-size: 12px;
}

#articleImgArea{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



/* @media(min-width: 1000px) {
    
    .articleImg{
        display: inline-block;
        margin: 5px 5px;
        width: 45%;
        max-width: 600px;
        border-radius: 6px;
        height: auto;
        transition: all 0.3s;
    }
} */

/* 当视口宽度小于等于568px时应用以下样式 */
@media (max-width: 768px) {
    .downLoadBody2{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .downLoad2Left{
        flex: 1;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .downLoad2Img{
        width: 100%;
        min-width: 100px;
        height: auto;
    }
    .downLoad2Right{
        width: 50%;
        margin: auto;
        padding: 10px;
        max-width: 300px;
        min-width: 100px;
        height: auto;
    }

    .gotoDown{
        position: static;
        height: 22px;
        right: 0px;
        top: auto;
        font-size: 12px;
        color: #fa5e8b;
        border:#c8365f solid 1px;
        padding: 2px 12px;
        margin: 4px 10px;
        border-radius: 4px;
        cursor: pointer;
        transform: translateY(0);
        transition: all 0.3s;
    }
    .gotoDown:hover{
        background-color: #fa5e8b;
        border:#fa5e8b solid 1px;
        color: #fff;
    }

    .articleMsg{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        background-color: #becde029;
        border-radius: 4px;
    }
}




@media (prefers-color-scheme: dark) {
    body{
        background-color: #121212;
    }
    .detailContainer{
        background-color: #121212;
    }
    .articlePage{
        background-color: #232323;
        box-shadow: #121212 0 0 6px;
        color: #fff;
    }
    .noticeImport{
        background-color: #121212;
        color: #dea920;
    }
    .card{
        box-shadow: none;
    }

    
    .downLoadArea{
        border: #fc4c7e dashed 2px;
    }
    .downLoadArea:hover{
        background-color: #1d1a1b;
    }
    .downLoadArea:hover .downLoadTitle{
        background-color: #1d1a1b;
    }
    .downLoadTitle{
        color: #e9386a;
        background-color: #232323;
    }
    .downLoadText{
        color: #e9386a;
    }
    .downLoadBtn{
        background-color: #fa5e8b;
        color: #fff;
        text-decoration: none;
    }
    .downLoadBtn:hover{
        background-color: #c8365f;
        box-shadow: #981a3e 0 0 10px;
    }
}