.nouseH{
    display: none;
}

.classifyBlock{
    width: 96%;
    height: auto;
    margin: 10px auto;
}

.classifyTitle{
    padding-left: 20px;
    margin: 30px;
    font-size: 30px;
    letter-spacing: 10px;
    color: #ef758b;
    font-weight: 600;
    border-left: #e77287 solid 4px;
}

.classifyRow{
    width: 98%;
    height: auto;
    margin: auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.classifyTagTitle{
    padding: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #ddab84;
}
.classifyTags{
    flex: 1;
    display: none;
    flex-wrap: wrap;
}
.classifyTagsQuest{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
.classifyTag{
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 4px 6px;
    padding: 4px;
}
.classifyTag{
    cursor: pointer;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 4px 6px;
    padding: 4px;
}
.classifyTagActive{
    background-color: #e77287;
    color: #fff;
    border-radius: 6px;
    padding: 4px;
}


@media (prefers-color-scheme: dark) {
    .classifyRow{
        width: 94vw;
        background-color: #333333;
        color: #eee;
    }

}