* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 其他样式属性重置 */
}
body{
    background: #eee;
    width: 100vw;
    height: 100vh;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}



h1{
    display: none;
}


.container{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.homePage{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 20px;
}
.homePageMain{
    transition: all 0.3s;
    width: 80%;
    max-width: 768px;
    height: auto;
}

.top{
    width: 100%;
    height: 320px;
    border-radius: 10px;
    padding-top: 50px;
    background:url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/background.jpg?inline=false') no-repeat;
    background-position: center;
    background-size: cover;
}
.block{
    height: 60px;
}

/* 修改滚动条的宽度 */
::-webkit-scrollbar {
    width: 6px; /* 修改滚动条宽度（适用于Chrome和Safari） */
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #FFEB3B 0%, #00BCD4 60%, #ffe503 90%);
    border-radius: 999px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f0f0f000; /* 修改滚动条轨道的颜色 */
  }


.head{
    display: flex;
    justify-content: center;
}
.head_img{
    width: 400px;
    height: auto;
    pointer-events: none;
}
.search_div{
    width: 70%;
    height: 50px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    overflow: hidden;
    border-radius: 16px;
    background-color: #ffffffe6;
}
.search_div:hover{
    box-shadow: #fc85a7 0 0 10px;
}
#searchText{
    flex: 1;
    min-width: 0; 
    outline: none;
    border: none;
    font-size: 17px;
    padding-left: 30px;
    color: #de5283;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: transparent;
}
#search_btn{
    width: 60px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#search_icon{
    width: 30px;
    height: 30px;
    pointer-events: none;
}
.searchTagList{
    width: 70%;
    height: 40px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.tagTitle{
    color: #fff;
    height: 20px;
    font-weight: 600;
    font-size: 14px;
    margin: 0 10px;
    display: flex;
    align-items: end;
}
.searchTag{
    color: #fff;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: end;
    cursor: pointer;
    margin: 0 5px;
}
.searchTag:hover{
    font-weight: 600;
}

.cardList{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.card{
    width: 30%;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #fffbf6;
    box-shadow: #aaa 0 0 4px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}
.card:hover{
    transform: translateY(-4px);
    box-shadow: #d60f16cc 0 0 8px;
}
.cover{
    width: 100%;
    background-color: #fffbf6;
    position: relative;
    padding-top: 60%;
}
.cover_img{
    pointer-events: none;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aqua;

    height: 100%;
    object-fit:cover;
}
.cover_load{
    position: absolute;
    top: 50%;
    width: 20%;
    height: auto;
    left: 50%;
    transform: translate(-50%,-50%);
    background:url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/load.gif?inline=false') center;
    background-size: contain;
    z-index: 2;
}

.msg{
    width: 100%;
}
.flag{
    padding-left: 10px;
    width: auto;
    height: auto;
    font-size: 10px;
    color: #d6410f;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}


/* card 配置 */
.cardConfig{
    display: inline-block;
    font-size: 10px;
    letter-spacing: 1px;
    margin-right: 5px;
    margin-top: 5px;
    /* background-color: #ff3e3e; 
    color: rgb(255, 255, 255); */
    color: #ff3e3e;
    border: #ff3e3e solid 2px;
    padding: 0px 4px;
    border-radius: 4px;
}
/* 热门 */
.cardConfigFire{
    display: inline-block;
    font-size: 10px;
    letter-spacing: 1px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #ebc283;
    background: radial-gradient(circle at center, #f5e2c5, #ebc283);
    color: #7c4908;
    padding: 1px 4px;
    border-radius: 4px;
}
/* 其他子分类 */
.cardConfigGreen{
    display: inline-block;
    letter-spacing: 1px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 10px;
    background-color: #4cb87b;
    color: #ffffff;
    padding: 1px 4px;
    border-radius: 4px;
}
.cardConfigPink{
    display: inline-block;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 5px;
    letter-spacing: 1px;
    background-color: #fa6787;
    color: #ffffff;
    padding: 1px 4px;
    border-radius: 4px;
}



.cTitle{
    display: inline-block;
    text-decoration: none; /* 取消下划线 */
    color: inherit; /* 使用父元素的文本颜色 */

    width: 100%;
    font-size: 17px;
    font-weight: 600;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #5994e1;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.pageBar{
    width: 90%;
    /* background-color: #d98021; */
    margin: 20px auto 40px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pageItem{
    width: auto;
    height: 24px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fc85a7;
    color: #fff;
    font-size: 13px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.pageItem:hover{
    background-color: #ff0070;
}
.pageItemActive{
    background-color: #ff0070;
}
#pageInput{
    width: 40px;
    height: 24px;
    margin: 5px 4px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 4px;
}
#pageInput:hover{
    border: solid #ff0070 1px;
}
#toPageBtn{
    width: auto;
    padding: 0 6px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fc85a7;
    color: #fff;
    font-size: 13px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
}
#toPageBtn:hover{
    background-color: #ff0070;
}

#hideMain{
    display: none;
}

.tailer{
    width: 100%;
    height: auto;
    padding: 40px 20px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tailerRow{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4px auto;
}
#busuanzi_value_site_uv{
    margin: auto 10px;
    color: #d6410f;
}

.noticeCards{
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    height: auto;
}
.noticeCardMain{
    width: auto;
    height: auto;
    border-radius: 10px;
    overflow:hidden;
    background-color: #fff;
}
.noticeCard{
    text-decoration: none; /* 取消下划线 */
    color: inherit; /* 使用父元素的文本颜色 */
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    background-color: #fff;
    cursor: pointer;
}
.noticeCard:hover{
    position: relative;
    box-shadow: #5e5e5e7b 0 0 8px;
    background-color: #ffffff;
}
.noticeIcon_question{
    width: 24px;
    height: 24px;
    background:url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E9%97%AE%E9%A2%98.png?inline=false') center;
    background-size: cover;
}
.noticeIcon_fire{
    width: 24px;
    height: 24px;
    background:url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E7%83%AD%E9%97%A8.png?inline=false') center;
    background-size: cover;
}
.noticeText{
    flex: 1;
    height: 24px;
    line-height: 24px;
    white-space: nowrap; /* 防止文字换行 */
    overflow: hidden; /* 隐藏超出元素宽度的部分 */
    text-overflow: ellipsis; /* 当文字溢出时显示省略号 */
    color: #6a7177;
    font-size: 16px;
    font-weight: normal;
    padding-left: 20px;
}
.freeCard{
    flex: 1;
    height: 24px;
    line-height: 24px;
    white-space: nowrap; /* 防止文字换行 */
    overflow: hidden; /* 隐藏超出元素宽度的部分 */
    text-overflow: ellipsis; /* 当文字溢出时显示省略号 */
    color: #6a7177;
    font-size: 14px;
    font-weight: normal;
}
.noticeCard:hover .noticeIcon_question{
    width: 24px;
    height: 24px;
    background:url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E9%97%AE%E9%A2%98_p.png?inline=false') center;
    background-size: cover;
}
.noticeCard:hover .noticeIcon_fire{
    width: 24px;
    height: 24px;
    background:url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E7%83%AD%E9%97%A8_p.png?inline=false') center;
    background-size: cover;
}
.noticeCard:hover .noticeText{
    flex: 1;
    height: 24px;
    color: #ce3268;
    padding-left: 20px;
}

.cardsNum{
    display: inline-block;
    display: flex;
}

/* .gundong{
    width: 96vw;
    height: 56vw;
    background-color: #5994e188;
    margin: 10px auto;
} */


.Resource{
    width: 99%;
    height: auto;
    margin: 20px auto;
    /* background: #5994e1; */
}
.homeClassifyRow{
    width: 100%;
    display: flex;
    margin: 20px auto;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homeClassifyTitle{
    padding: 10px 10px;
    font-size: 20px;
    color: #555;
    margin: auto 15px;
    letter-spacing: 1px;
}
.homeClassifyBottom{
    width: 30px;
    height: 1px;
    border-radius: 4px;
    border-bottom: #ff0070 solid 4px;
}
.getMore{
    width: 70%;
    max-width: 220px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 30px;
    color: #fff;
    background-color: #ff0070;
    cursor: pointer;
    margin-bottom: 30px;
}
.getMore:hover{
    background-color: #ff1e7f;
}

/* 当视口宽度小于等于1200px时应用以下样式 */
@media (max-width: 1200px) {
    .card{
        width: 30%;
        margin-bottom: 20px;
        border-radius: 6px;
        background-color: #fffbf6;
        box-shadow: #aaa 0 0 4px;
        overflow: hidden;
        cursor: pointer;
    }
    .card:hover{
        box-shadow: #d60f16cc 0 0 8px;
    }
    .cover{
        width: 100%;
        background-color: #fffbf6;
        position: relative;
        padding-top: 60%;
    }
    .cover_img{
        pointer-events: none;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: aqua;

        height: 100%;
        object-fit:cover;
    }
}

/* 当视口宽度小于等于768px时应用以下样式 */
@media (max-width: 768px) {
    .homePage{
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
        padding-top: 0px;
    }
    .homePageMain{
        width: 98%;
        height: auto;
    }
    .top{
        height: 300px;
    }
    .head_img{
        width: 350px;
        height: auto;
    }
    .search_div{
        width: 86%;
        height: 45px;
        margin: auto;
        margin-bottom: 10px;
        display: flex;
        overflow: hidden;
        border-radius: 12px;
    }
    #searchText{
        flex: 1;
        outline: none;
        border: none;
        font-size: 15px;
        padding-left: 20px;
        background-color: transparent;
    }
    #search_btn{
        width: 60px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #search_icon{
        width: 30px;
        height: 30px;
    }
    .searchTagList{
        width: 86%;
        height: 40px;
        margin: auto;
    }
    .tagTitle{
        color: #fff;
        height: 20px;
        margin: 0 10px;
        font-size: 14px;
        display: flex;
        align-items: end;
    }
    .searchTag{
        color: #fff;
        height: 20px;
        font-size: 12px;
        display: flex;
        align-items: end;
        margin: 0 5px;
    }

    .card{
        width: 47%;
        margin-bottom: 2%;
        border-radius: 6px;
        background-color: #fff;
    }
    .card:hover{
        box-shadow: #d6410f 0 0 8px;
    }
    .cover{
        width: 100%;
        background-color: #fffbf6;
        position: relative;
        padding-top: 60%;
    }
    .cover_img{
        pointer-events: none;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: aqua;

        height: 100%;
        object-fit:cover;
    }
    .cover_load{
        position: absolute;
        top: 50%;
        width: 20vw;
        height: 20vw;
        left: 50%;
        transform: translate(-50%,-50%);
        background:url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/load.gif?inline=false') center;
        background-size: contain;
        z-index: 2;
    }

    .flag{
        padding-left: 10px;
        font-size: 12px;
        color: #d6410f;
    }

    .cTitle{
        display: inline-block;
        text-decoration: none; /* 取消下划线 */
        color: inherit; /* 使用父元素的文本颜色 */

        width: 100%;
        font-size: 15px;
        font-weight: 600;
        max-height: 40px;
        line-height: 20px;
        overflow: hidden;
        color: #5994e1;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
    }


}


@media (max-width: 520px) {
    .head_img{
        width: 300px;
        height: auto;
        pointer-events: none;
    }
    .top{
        padding-top: 24px;
        width: 100%;
        height: 260px;
        border-radius: 10px;
        background:url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/background.jpg?inline=false') no-repeat;
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 400px) {
    .head_img{
        width: 230px;
        height: auto;
        pointer-events: none;
    }
    .top{
        padding-top: 20px;
        width: 100%;
        height: 220px;
        border-radius: 10px;
        background:url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/background.jpg?inline=false') no-repeat;
        background-position: center;
        background-size: cover;
    }
    .search_div{
        width: 70%;
        height: 40px;
        margin: auto;
        margin-bottom: 6px;
        display: flex;
        overflow: hidden;
        border-radius: 15px;
        background-color: #ffffffe6;
    }
    #searchText{
        flex: 1;
        min-width: 0; 
        outline: none;
        border: none;
        font-size: 17px;
        padding-left: 30px;
        color: #de5283;
        font-weight: 600;
        letter-spacing: 2px;
        background-color: transparent;
    }
    #search_btn{
        width: 60px;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #search_icon{
        width: 30px;
        height: 30px;
        pointer-events: none;
    }
}

@media (max-width: 320px) {
    .card{
        width: 81%;
        margin-bottom: 20px;
        border-radius: 6px;
        background-color: #fffbf6;
    }
    .card:hover{
        box-shadow: #d6410f 0 0 8px;
    }
    .cover{
        width: 100%;
        background-color: #fffbf6;
        position: relative;
        padding-top: 60%;
    }
    .cover_img{
        pointer-events: none;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(175, 182, 182);

        height: 100%;
        object-fit:cover;
    }
}


.searchBar{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
}
.bar{
    font-size: 20px;
    color: #222222;
    padding-bottom: 6px;
    margin: auto 15px;
    letter-spacing: 2px;
    border-bottom: #ff0070 solid 4px;
}
.Bar{
    text-decoration: none;
    color: #222222;
    cursor: pointer;
    margin: auto 15px;
    letter-spacing: 1px;
}
.Bar:hover{
    color: #ff3a7f;
}





@media (prefers-color-scheme: dark) {
    body{
        background-color: #121212;
    }
    .tagTitle{
        color: rgb(210, 130, 45);
    }

    .noticeCard{
        background-color: #232323;
    }
    .noticeCardMain{
        background-color: #232323;
    }
    .noticeCard:hover{
        position: relative;
        box-shadow: #5e5e5e00 0 0 8px;
        background-color: #333333;
    }
    .noticeText{
        color: #bbb;
    }
    .bar{
        color: #ed5a5a;
        
        border-bottom: #ff828f solid 4px;
    }
    .Bar{
        color: #aaa;
    }
    .card{
        background-color: #303030;
        box-shadow: #040404 0 0 4px;
        transition: all 0.3s;
    }
    .card:hover{
        box-shadow: #de899a00 0 0 8px;
        border: solid 1px #ff6e8e;
        transform: translateY(-4px);
    }
    .cover{
        background-color: #303030;
    }
    .cover_img{
        background-color: #b1b1b1;
    }
    .cTitle{
        color: #eee;
        font-weight: normal;
    }
    img{
        color: #eee;
    }
    
    .tailer{
        border-top: #151515 dashed 2px;
        color: #ccc;
    }

}