.navRow{
    width: 100vw;
    height: 60px;
    background-color: #fff;
    box-shadow: #a7a7a786 0 2px 6px;
    position: fixed;
    display: flex;
    z-index: 99;
}
.menuBar{
    width: 60px;
    height: 60px;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E8%8F%9C%E5%8D%95.png?inline=false');
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.myICOBar{
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.myICO{
    height: 70%;
    width: auto;
    pointer-events: none;
}
#menuMask{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #ffffff00;
}
.menuSelect{
    display: none;
    position: fixed;
    top: 66px;
    left: 4px;
    border-radius: 1px;
    box-shadow: #9393939b 0 0 10px;
    width: 140px;
    background-color: #fff;
    padding: 5px 0;
}
.menuOption{
    width: 100%;
    height: 45px;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 40px;
    padding-left: 14px;
    color: #3c3c3c;
    cursor: pointer;
}
.menuOption:hover{
    color: #ff0070;
    background-color: #ffe5ec;
}


/* 当视口宽度小于等于768px时应用以下样式 */
@media (max-width: 768px) {
    .menuSelect{
        width: 120px;
    }
    .menuOption{
        width: 100%;
        height: 40px;
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 40px;
        padding-left: 14px;
        color: #3c3c3c;
        cursor: pointer;
    }
}