.navRow{
    width: 100vw;
    height: 60px;
    background-color: #fff;
    box-shadow: #a7a7a786 0 2px 6px;
    position: fixed;
    z-index: 99;
}
.menuBar{
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E8%8F%9C%E5%8D%95.png?inline=false');
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.myICOBar{
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.myICO{
    height: 70%;
    width: auto;
    pointer-events: none;
}
.nav_search{
    position: absolute;
    right: 6px;
    width: 60px;
    height: 60px;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/search_pink.png?inline=false');
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#searchMask{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3c3c3c4b;
    transition: all 0.3s;
}
#searchToast{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 700px;
    height: 240px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #3c3c3c99 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.toastTitle{
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #fc85a7;
    letter-spacing: 8px;
    margin-bottom: 10px;
}
.toastInput{
    width: 80%;
    height: 40px;
    outline: none;
    color: #ff0070;
    border-radius: 10px;
    letter-spacing: 2px;
    padding-left: 20px;
    font-size: 17px;
    margin-bottom: 30px;
    border: #ff0070 dashed 1px;
}
.toastInput:hover{
    border: #ff0070 solid 1px;
}
.toastBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/search_p.png?inline=false') center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.toastBtn:hover{
    opacity: 0.7;
}
.toastClose{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/close_p.png?inline=false') center;
    background-repeat: no-repeat;
    background-size: 40% 40%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.toastClose:hover{
    opacity: 0.7;
}


#menuMask{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #ffffff00;
}
.menuSelect{
    display: none;
    position: fixed;
    top: 66px;
    left: 4px;
    border-radius: 1px;
    box-shadow: #9393939b 0 0 10px;
    width: 140px;
    background-color: #fff;
    padding: 5px 0;
}
.menuOption{
    width: 100%;
    height: 45px;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 40px;
    padding-left: 14px;
    color: #3c3c3c;
    cursor: pointer;
}
.menuOption:hover{
    color: #ff0070;
    background-color: #ffe5ec;
}


/* 当视口宽度小于等于768px时应用以下样式 */
@media (max-width: 768px) {
    .menuSelect{
        width: 120px;
    }
    .menuOption{
        width: 100%;
        height: 40px;
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 40px;
        padding-left: 14px;
        color: #3c3c3c;
        cursor: pointer;
    }

    .navBottom{
        width: auto;
        height: 80px;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
    .navBottomBar{
        width: auto;
        height: 55px;
        background-color: #ffffffdc;
        border-radius: 10px;
        display: flex;
    }
    .navBottomBarItem{
        width: 55px;
        height: 55px;
        margin: 0 20px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    .nBBIIcon{
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
    }
    .nBBIText{
        width: 100%;
        height: 25px;
        letter-spacing: 2px;
        color: #444;
        line-height: 25px;
        text-align: center;
    }
}



@media (prefers-color-scheme: dark) {
    .navRow{
        background-color: #232323;
        box-shadow: #13131386 0 2px 6px;
    }
    .navBottomBar{
        background-color: #ffffffdc;
    }
    .nBBIText{
        color: #444;
    }
    #searchToast{
        background-color: #3d3d3d;
        border: #0000009a solid 1px;
    }
    .toastInput{
        background-color: #999;
    }
    .toastInput::placeholder{
        color: #373737ca;
        font-size: 15px;
    }
    .menuSelect{
        background-color: #232323;
    }
    .menuOption{
        color: #ccc;
    }
    .menuOption:hover{
        background-color: #aaa;
    }
}