/* 清除默认的 ul 和 li 样式 */
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* 如果需要清除嵌套列表的默认样式 */
ul ul, ol ol {
    margin-left: 0;
}

/* 清除 li 的默认样式（可选）*/
li {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HarmonyOS_Sans_SC_Regular,-apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;;
    /* 其他样式属性重置 */
}


.navRow{
    width: 100vw;
    height: 60px;
    background-color: #fff;
    box-shadow: #c6c6c67b 0 1px 4px;
    position: absolute;
    z-index: 110;
}
.menuBar{
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.menu-checkbox {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .hamburger-lines {
    display: block;
    height: 15px;
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 26px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .hamburger-lines .line {
    display: block;
    height: 0.1em;
    text-align:center;
    width: 100%;
    background: #ff90aa;
  }
  
  .hamburger-lines .line1 {
    width: 19px;
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .hamburger-lines .line2 {
    width: 20px;
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line3 {
    width: 19px;
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  
  .menu-checkbox:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .menu-checkbox:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .menu-checkbox:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }





.myICOBar{
    height: 100%;
    width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.myICO{
    width: 200px;
    height: 60px;
    margin: auto;
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/bzxmIcon_pink.gif?inline=false');
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    pointer-events: none;
}





.nav_search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    width: 60px;
    height: 60px;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/search1.png?inline=false');
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
#searchMask{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3c3c3c4b;
    transition: all 0.3s;
    z-index: 10;
}
#searchToast{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-300%);
    width: 88%;
    max-width: 700px;
    height: 240px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: #3c3c3c99 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.4s;
    z-index: 30;
}
.toastTitle{
    text-align: center;
    padding: 20px;
    font-size: 24px;
    color: #fc85a7;
    letter-spacing: 8px;
    margin-bottom: 10px;
}
.toastInput{
    width: 80%;
    height: 40px;
    outline: none;
    color: #ff0070;
    border-radius: 10px;
    letter-spacing: 2px;
    padding-left: 20px;
    font-size: 17px;
    margin-bottom: 30px;
    border: #ff0070 dashed 1px;
}
.toastInput:hover{
    border: #ff0070 solid 1px;
}
.toastBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/search_p.png?inline=false') center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.toastBtn:hover{
    opacity: 0.7;
}
.toastClose{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 0;
    background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/close_p.png?inline=false') center;
    background-repeat: no-repeat;
    background-size: 40% 40%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.toastClose:hover{
    opacity: 0.7;
}


#menuMask{
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #383838d9;
    z-index: 80;
}

.menuSelector{
    position: fixed;
    left: 0;
    top: 0;
    width: 282px;
    height: 100vh;
    transform: translateX(-110%);
    padding: 70px 20px;
    z-index: 99;
    background-color: #fff;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: #5b5b5b 2px 0 10px;
}
.menuOptions{
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 8px;
    background-color: #fcedef79;
}
.menuItem{
    width: 100%;
    height: auto;
}
.menuItem1{
    display: inline-block;
    height: 32px;
    width: 100%;
    color: #595959;
    font-size: 14px;
    padding: 6px 15px;
    text-decoration: none;
    transition: all 0.3s;
}
.menuItem1::before{
    content: '';
    width: .4em;
    height: .4em;
    border: .1em solid #5fb2de;
    border-radius: 50%;
    margin: 0 .5em;
    vertical-align: .1em;
    display: inline-block;
    margin: 0;
    outline: 0!important;
    margin-right: 12px;
}
.menuItem1:hover{
    color: #5fb2de;
    text-decoration: none;
}
.menuItem2{
    width: 100%;
    height: auto;
    padding: 4px 10px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menuItem2Sub{
    width: 47%;
    height: 30px;
    padding: 0 auto;
    margin-top: 2px;
    margin-bottom: 6px;
    border-radius: 4px;
    text-align: center;
    background-color: #fee6ed;
    transition: all 0.3s;
}
.menuItem2Sub:hover{
    background-color: #ffd5e3;
}
.menuItem2SubLink{
    width: 100%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #595959;
    font-size: 12px;
    text-align: center;
    padding: 0 15px;
    text-decoration: none;
    transition: all 0.3s;
}
.menuItem2Sub:hover .menuItem2SubLink{
    color: #3466c9;
    text-decoration: none;
}




.menuselectBar{
    height: 60px;
    display: none;
    position: absolute;
    right: 80px;
}
.menuOptionBar{
    cursor: pointer;
    width: auto;
    height: 60px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #323335;
}
.menuOptionBar:hover{
    text-decoration: none;
    color: #ff84af;
}
.menuOptionBar:hover .menuOpBIconHome{
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E9%A6%96%E9%A1%B5_p.png?inline=false');
}
.menuOptionBar:hover .menuOpBIconStar{
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/star%20(2).png?inline=false');
}
.menuOptionBar:hover .menuOpBIconFireG{
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/H5game%20(1).png?inline=false');
}
.menuOptionBar:hover .menuOpBIconAni{
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E5%8A%A8%E6%BC%AB%20(1).png?inline=false');
}
.menuOptionBar:hover .menuOpBIconNovel{
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/f4%20(1).png?inline=false');
}
.menuOptionBar:hover .menuOptionBarCaret{
    display: inline-block;
    width: 0;
    height: 0;
    color: #ff84af !important;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


.menuOpBIconHome{
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E9%A6%96%E9%A1%B5.png?inline=false');
}
.menuOpBIconStar{
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: contain;
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/star%20(1).png?inline=false');
}
.menuOpBIconFireG{
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/H5game.png?inline=false');
}
.menuOpBIconAni{
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/%E5%8A%A8%E6%BC%AB.png?inline=false');
}
.menuOpBIconNovel{
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: contain;
    background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/f4.png?inline=false');
}
.menuOptionBarText{
    font-size: 14px;
    margin: 0 4px;
}
.menuOptionBarCaret{
    display: inline-block;
    width: 0;
    height: 0;
    color: #3466c9 !important;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}




.navBottom{
    height: 0;
}

@media (min-width: 800px) {
    .menuBar{
        display: none;
    }
    .myICOBar{
        left: 30px;
        transform: translateX(0);
    }
    .menuselectBar{
        display: flex;
    }
}

/* 当视口宽度小于等于768px时应用以下样式 */
@media (max-width: 768px) {
    .menuSelect{
        width: 120px;
    }
    .menuOption{
        width: 100%;
        height: 40px;
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 40px;
        padding-left: 14px;
        color: #3c3c3c;
        cursor: pointer;
    }

    .navBottom{
        width: auto;
        height: 80px;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }
    .navBottomBar{
        width: auto;
        height: 55px;
        background-color: #ffffffdc;
        border-radius: 10px;
        display: flex;
    }
    .navBottomBarItem{
        width: 55px;
        height: 55px;
        margin: 0 20px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }
    .nBBIIcon{
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
    }
    .nBBIText{
        width: 100%;
        height: 25px;
        letter-spacing: 2px;
        color: #444;
        line-height: 25px;
        text-align: center;
    }
}



@media (prefers-color-scheme: dark) {
    .navRow{
        background-color: #323335;
        box-shadow: #151515d0 0 2px 6px;
    }

    .hamburger-lines .line {
        background: #afb6bc;
      }

    .nav_search{
        position: absolute;
        right: 6px;
        width: 60px;
        height: 60px;
        background: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/searchDark.png?inline=false');
        background-size: 30% 30%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .navBottomBar{
        background-color: #ffffffdc;
    }
    .nBBIText{
        color: #444;
    }
    #searchToast{
        background-color: #3d3d3d;
        border: #0000009a solid 1px;
    }
    .toastInput{
        background-color: #999;
    }
    .toastInput::placeholder{
        color: #373737ca;
        font-size: 15px;
    }
    
    #menuMask{
        background-color: #181818e3;
    }
    .menuSelector{
        background-color: #323335;
        box-shadow: none;
    }
    .menuOptions{
        background-color: #353638;
    }
    .menuItem1{
        color: #fff;
    }
    .menuItem1::before{
        border: .1em solid #ff5050;
    }
    .menuItem1:hover{
        color: #6f53ea;
    }

    .menuItem2Sub{
        background-color: #3c3c3e;
    }
    .menuItem2Sub:hover{
        background-color: #3b3b3c;
    }
    .menuItem2SubLink{
        color: #fff;

    }
    .menuItem2Sub:hover .menuItem2SubLink{
        color: #5d73df;
    }



    .myICO{
        background-image: url('https://gitcode.net/2301_78006839/wxpj/-/raw/master/img/web/bzxmIcon_light.gif?inline=false');
    }
}